{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "global": "readonly",
    "window": "readonly",
    "document": "readonly",
    "console": "readonly",
    "localStorage": "readonly",
    "Promise": "readonly",
    "setTimeout": "readonly"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      {"property": "freeze", "object": "Object"},
      {"property": "myFavoriteWrapper"}
    ]
  },
  "rules": {
    "quotes": ["warn", "double", {"avoidEscape": true}],
    "semi": ["warn", "always"],
    "react/jsx-curly-spacing": ["warn", "always"],
    "react/prop-types": "off"
  }
}
